RewriteEngine On

RewriteRule ^colegio_biologos/?$ 					index.php
RewriteRule ^colegio_biologos/(\w+)?$ 		index.php?accion=$1
RewriteRule ^/?$													index.php
RewriteRule ^administrador/?$							administrador/view_dashboard.php
RewriteRule ^mod_colegiados/?$						mod_colegiados/view_colegiados.php
